SERIAL 0 115200
UI vesamenu.c32
MENU TITLE Velocity Linux
MENU BACKGROUND splash.png

MENU WIDTH 78
MENU MARGIN 4
MENU ROWS 7
MENU VSHIFT 10
MENU TABMSGROW 14
MENU CMDLINEROW 14
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

# Velocity palette: violet #7c5cff, cyan #22d3ee on near-black #0b0b12
MENU COLOR border       30;44   #00000000 #00000000 none
MENU COLOR title        1;36;44 #ff7c5cff #00000000 std
MENU COLOR sel          7;37;40 #ff0b0b12 #ff22d3ee all
MENU COLOR unsel        37;44   #ffe6e6f0 #00000000 std
MENU COLOR help         37;40   #c0b8b8cc #00000000 std
MENU COLOR timeout_msg  37;40   #80b8b8cc #00000000 std
MENU COLOR timeout      1;37;40 #ff22d3ee #00000000 std
MENU COLOR msg07        37;40   #90e6e6f0 #00000000 std
MENU COLOR tabmsg       31;40   #ff7c5cff #00000000 std

MENU CLEAR
MENU IMMEDIATE
